<div class="container" id="home-container">
    <div class="jumbotron text-center">
        <h1 class="display-4">Welcome to Ruby Blog</h1>
        <p class="lead">A platform for those who love to code. Create an account if you don't have one, or feel free to look around!</p>
        <hr class="my-4">
        <p>Click the button below to sign up. Or the links above to see what people have written!</p>
        <%= link_to "Sign Up", signup_path, class: "btn btn-success btn-lg" %>
    </div>
</div>