<div id="page-content">
    <div class="container" id="home-container">
        <div class="jumbotron text-center">
            <h1 class="display-4">Welcome to Ruby Blog</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Sign Up</a>
        </div>
    </div>
</div>


<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
        <small> Copywright &copy; <%= link_to "Jas Spencer", "https://github.com/Jas802", class: "text-white-50" %> </small>
    </div>
</footer>