<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
        <small> Copywright &copy; <%= link_to "Jas Spencer", "https://github.com/Jas802", class: "text-white-50" %> </small>
    </div>
</footer>